.continerDeFiltrosCertificado {

    width: 100%;
    display: flex;
    flex-direction: column;
     
  
}

.CaixaFiltroCertificado {

  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  font-size: 20px;
  cursor: pointer;

}

.continerCertificados {

    display: flex;
    flex-direction: column;
    margin: 30px 0px;

}

.continerCategoriaCertificado{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.TituloCategoriaCertificado {

    font-size: 30px;

}

.imgCertificado {

    flex-shrink: 0; /* Evita que os itens encolham */
    min-width: 300px; /* Define uma largura mínima para os itens */
    max-width: 500px; /* Limita o tamanho máximo */
    border: 1px solid #ccc; /* Apenas para visualização */
    padding: 10px; /* Espaçamento interno */
}

.swiper-slide2 {

   margin: 0px 20px 40px 0px !important;
   width: 20vw !important;
   height: 28vh !important;
   padding: 6px 14px 6px 14px;
   border: 1px solid #ccc;
   
}

.carrossel__container {

    position: relative; /* Para posicionar elementos relativos ao contêiner */
    overflow: hidden;   /* Evita barras de rolagem inesperadas */

}

.imagemCertificado {

    width: 20vw !important;
    height: 28vh !important;
    object-fit: contain;
    cursor: grab !important;
    opacity: 0; /* Oculta a imagem (e o texto alternativo) inicialmente */
    transition: opacity 0.5s ease-in-out; /* Transição suave para a opacidade */
}


.imagemCertificado.swiper-lazy-loaded {
    opacity: 1; /* Mostra a imagem quando carregada */
}

.swiper-lazy-preloader {

    width: 100%;
    height: 100%;

}

