body {

  font-weight: 500;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fonte01);
  box-sizing: border-box;
  
}

body.dark-mode {
  background: hsl(0 0% 6%);
  color: white;
  mix-blend-mode: difference;
}

body.light-mode  {

  background: hsl(0 0% 94%);;
  color: black;
  mix-blend-mode: normal;
  
}

body.light-mode::before {
  content: ""; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -1; 
  background: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 10%, 1) 0deg, 
    #c39a25 72.0000010728836deg, 
    #c03838 144.0000021457672deg,
    #5a7a90 216.00000858306885deg, 
    #3bcc9a 288.0000042915344deg, 
    hsla(0, 0%, 10%, 1) 1turn 
  );
  width: 100%;
  height: 100%;
  mask:
    radial-gradient(circle at 50% 50%, black 2px, transparent 2.5px) 50% 50% / var(--size) var(--size), /* Bolinhas pretas */
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
 
}






.pagina {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.pagina__apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ListaLinkApresentacao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textoLinkApresentacao {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: var(--fonte02);
  font-weight: 500;
  text-transform: uppercase;
}

.textoLinkApresentacao:hover {
  color: gray;
}

.SecaoContato {
  display: flex;
  align-items: center;
  gap: 30px;
}

.continerIcone {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black1);
  border-radius: inherit;
  z-index: -1;
}

.continerSecaoContato {
  display: flex;
  align-items: center;
  gap: 5px;
}

.SecaoContato__titulo {
  color: gray;
}

.contact-link {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

.contact-link:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.contact-link:hover {
  background-position: 0;
}

.contact-link:hover::before {
  width: 100%;
}

.hidden {
  display: none;
}

.textoLinkApresentacao.active {
  color: gray; /* Define a cor cinza para o link ativo */
}

::-webkit-scrollbar {
  width: 10px; /* Largura da barra vertical */
  height: 10px; /* Altura da barra horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Cor do polegar (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

/* Cor do polegar quando está sendo clicado/arrastado */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilo base da página */
.todoConteudo {
  position: relative;
  transition: filter 1s ease;
}

/* Adiciona um pseudo-elemento para o efeito de blur */
.todoConteudo.blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Aplica o desfoque */
  background: rgba(0, 0, 0, 0.2); /* Fundo semitransparente */
  z-index: 10; /* Camada acima do conteúdo mas abaixo do card */
}

select:focus {
  outline: none;
}
.swiper-lazy-loaded ~ .swiper-lazy-preloader {
  display: none !important;
}
