.button {
    position: relative;
    border: none;
    background: transparent;
    --stroke-color: black;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    letter-spacing: 3px;
    font-size: 2.5em;
    font-family: var(--fonte-terciaria);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    cursor: pointer;
    top: 10px;
  }
  
  .front-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background: var(--color-gar);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    overflow: hidden;
    transition: all 1s;
    animation: 8s ani infinite;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    width: 100%;
    -webkit-text-stroke: 1px var(--ani-color);
  }
  
mark {

    font-family: var(--fonte-secundaria);
    font-weight: bold;
    color: black;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    --stroke-color: black;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    color: transparent;
}
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    50% {
      background-position: 400%;
    }
  
    100% {
      background-position: 0%;
    }
  }
  