.card1 {
    overflow: visible;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 145px;
    left: 125px;
    
  }
  
  .content1 {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front1,
  .back1 {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back1 {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back1::before {
    
    position: absolute;
    content: ' ';
    display: block;
    width: 162px;
    height: 162%;
    background: linear-gradient(90deg, transparent, #868686 10%, #ffffff 40%, #868686 70%, transparent);
    animation: rotation_481 5000ms infinite linear;

  }

  .back-content1 {
    
    position: absolute;
    width: 98%;
    height: 98%;
    background: linear-gradient(to bottom, 

        var(--cor-barraLateral-01-ModoClaro), 
        var(--cor-barraLateral-02-ModoClaro), 
        var(--cor-barraLateral-03-ModoClaro)

    );
    backdrop-filter: blur(10px);
    background-size: 100% 300%;
    animation: mover-gradient 5s infinite linear;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  .front1 {
    transform: rotateY(180deg);
    color: white;
  }

.cardFlutante1 li {
 
  margin: 0px 0px 0px 0px;
  width: 250px;
  padding: 12.5px 0px;  
    
}

.cardFlutante1 li:hover {

  background: white;
  color: black;
       
}

@keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    100% {
      transform: rotateZ(360deg);
    }
  }



.cardFlutante1 {

   
color: var(--cor-fonte-modoEscuro);
  

}

.cardFlutante1 li:first-child {

    margin: 0px;

}

.cardFlutante1  li {

    display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 20px;
    margin: 10 0px;
   
}

.cardFlutante1  p {

    width: 120px;
    text-align: start;
   
}

.cardFlutante1 button {

    width: 60px;
   
}

.botaoExpandir {
    background-image: url('/public/Seta/setaBranca.png');
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    border: none;
    cursor: pointer;
    margin: 0px;
    border-radius: 5px;
    width: 35px;
    height: 25px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.cardFlutante1 li:hover .botaoExpandir {

  background-image: url('/public/Seta/setaPreto.png'); /* Altera o fundo da seta */
}

.botaoExpandir.active {

    transform: rotate(180deg); 
    
}

.botaoExpandir.active:hover {

    animation: moverSeta02 0.8s infinite; 
    transform: rotate(180deg); 

}

.botaoExpandir:hover {

    animation: moverSeta 0.8s infinite; /* Chama a animação ao passar o mouse */
  
}

.botaoFonte {

    border: none;
    cursor: pointer;
    background: none;
    font-size: 20px;
    color: white;
   
}

.cardFlutante1 li:hover .botaoFonte {

  color: black;
}

/* Definindo a animação */
@keyframes moverSeta {
    
    0% {
        transform: translateX(0); /* Inicia no estado original */
    }
    50% {
        transform: translateX(15px); /* Move para a direita */
    }
    100% {
        transform: translateX(0); /* Volta para a posição original */
    }
}

@keyframes moverSeta02 {

  
    0% {
        transform: translateX(0) rotate(180deg);; /* Inicia no estado original */
    }
    50% {
        transform: translateX(-15px) rotate(180deg);; /* Move para a esquerda */
    }
    100% {
        transform: translateX(0) rotate(180deg);; /* Volta para a posição original */
    }
}

@keyframes mover-gradient {

  0% {
    background-position: 0% 0%; /* Começa no topo */
  }
  50% {
    background-position: 0% 100%; /* Desce até o final */
  }
  100% {
    background-position: 0% 0%; /* Volta ao topo */
  }

}
