@import url('../../variables.css');

.barra-lateral {

    background: linear-gradient(to bottom, 

        var(--cor-barraLateral-01-ModoClaro), 
        var(--cor-barraLateral-02-ModoClaro), 
        var(--cor-barraLateral-03-ModoClaro)

    );

    background-size: 100% 300%;
    animation: mover-gradient 5s infinite linear;
    height: 100vh;
    width: 100px;
    box-sizing: border-box;
    padding: 20px 0px; 
    border: 3px solid transparent;
    border-width: 0px 2px 0px 0px;
    animation: rainbow-border2 5s infinite linear;

    
    
}

.barra-lateral div {

    text-align: center;

}

.logotipo {

    width: 50px;
    transform: scaleX(-1);

}

.barra-lateral li:first-child {
   
  margin: 50px 0px 0px 0px;
    
}


.lista {

  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100px;
  border-radius: 90px 0 0 90px;
  
}

.lista:hover .ham6 .line {
   
  stroke:black;
  
}

.lista:hover .continerIcone .container {
   
  fill: black;
  
}

.lista:hover .icone:not(.linkativo) { 
   
  filter: invert(1);
  
}

.listaAfastar {

  margin: 150px 0px 0px 0px;
  
}

.lista:hover {

  background: var(--cor-deFundo-modoClaro);

}


.continerIcone {

  width: 80px;
  height: 80px;

}

.icone {

  width: 40px;
  cursor: pointer;
  margin: 20px 0px 20px 0px;

}

.primeiro {

  margin: 500px;


}

.expandir:hover {

  display: inline-block;  /* Para garantir que o item se comporte corretamente durante a animação */
  transition: box-shadow 0.3s ease;
  animation: pulsar 9.9s infinite ease-in-out;  /* Animação de aumento e diminuição */
   
}

.navegacaoLink:hover {
  
  transform: scale(1.1);

}

.navegacaoLink:active {

  animation: pulsar 1s;

}

.listaAtiva {

  background: var(--cor-deFundo-modoClaro);
  border: 3px solid transparent;
  border-width: 3px 0px 3px 3px;
  animation: rainbow-border2 5s infinite linear;

}

.linkativo {

  display: inline-block;  
  transition: box-shadow 0.3s ease; 

}

.listaAtiva .linkativo .icone {
  filter: invert(1); 
}

.lista:hover .linkativo .icone {
  filter: invert(1);
}

.nomeDaPagina {

  transform: rotate(270deg);
  color: white; 
  font-size: var(--fonte-secundaria);
  font-size: 35px;
  margin: 100px 0px 0px 0px ;
  letter-spacing: 7px;
  

}

@keyframes pulsar {
    0% {
      transform: scale(1); /* Começa no tamanho normal */
    }
    50% {
      transform: scale(1.2); /* Aumenta o tamanho para 120% */
    }
    100% {
      transform: scale(1); /* Volta para o tamanho normal */
    }
}

@keyframes mover-gradient {

    0% {
      background-position: 0% 0%; /* Começa no topo */
    }
    50% {
      background-position: 0% 100%; /* Desce até o final */
    }
    100% {
      background-position: 0% 0%; /* Volta ao topo */
    }

}

@keyframes rainbow-border2 {
  0% {
    border-color: red;
  }
  14% {
    border-color: orange;
  }
  28% {
    border-color: yellow;
  }
  42% {
    border-color: green;
  }
  57% {
    border-color: blue;
  }
  71% {
    border-color: indigo;
  }
  85% {
    border-color: violet;
  }
  100% {
    border-color: red;
  }
}
